h1 {
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}

  table,tr,td {
    border: 1px solid orange;
    border-collapse: collapse;
    color: black;
}

span {
  margin-left: 20px;
  color: black;
  font-size: 20px;
}


.table_td_link {
  text-decoration: none;
  
  
}
/*
.Ajax {
  margin-left: 20px;
  color: black;
  font-size: 20px;
}

.Feye {
  
}

.PSV {
  margin-left: 20px;
  color: black;
  font-size: 20px;
}

.AZ {
  margin-left: 20px;
  color: black;
  font-size: 20px;
}

.FC {
  margin-left: 20px;
  color: black;
  font-size: 20px;
}
